<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fantasy Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    This is a tale about @Model.Noun and the @Model.Species lust for violence. The story is about a @Model.Adjective @Model.Noun2 who is constantly annoyed by a @Model.Species2. It starts in a small @Model.Place on our world in a magical age. The story begins with @Model.Action and ends with @Model.Activity.
  </body>
</html>