<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Modern Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    This is a rags-to-riches story with an emphasis on @Model.Emotion. The story is about a @Model.Occupation. It takes place in a @Model.Place in @Model.Country. The story ends with a religious @Model.Activity.
  </body>
</html>