<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Sci-fi story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    This is a tragedy. The story is about a @Model.Occupation who is @Model.Verb by a @Model.Occupation2. It takes place in a galaxy-spanning @Model.SystemOfGov. The question of when a machine becomes @Model.Species is a major part of the story.
  </body>
</html>